@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  padding: 3rem 3rem;
  margin-bottom: 3rem;
  background-color: #022f46;
  display: flex;
  justify-content: space-between;
}
.header .h1 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
  color: #f5f5f7;
}
@media screen and (max-width: 700px) {
  .header .h1 {
    font-size: 4rem;
  }
}
.header .carrito {
  background-color: #022f46;
  outline: none;
  border: none;
}
.header .carrito .carrito-icon {
  font-size: 5rem;
  color: #f5f5f7;
}
.header .carrito .carrito-icon:hover {
  color: rgba(245, 245, 247, 0.85);
}

#search {
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  display: flex;
}
#search #input-search {
  width: 100%;
  border-radius: 50px;
  padding: 1.5rem 3rem;
  background: rgba(29, 29, 31, 0.05);
  box-shadow: 11px 11px 29px #bebebe, -11px -11px 29px #ffffff;
  border: none;
  outline: none;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: rgba(2, 47, 70, 0.7);
}

::placeholder {
  color: rgba(2, 47, 70, 0.3); /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgba(2, 47, 70, 0.5);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(2, 47, 70, 1);transform: ;msFilter:;'%3E%3Cpath d='m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z'%3E%3C/path%3E%3C/svg%3E");
  height: 2rem;
  width: 2rem;
}

.buscar-icon {
  font-weight: 400;
  font-size: 2rem;
  color: rgba(2, 47, 70, 0.6);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2.5rem;
  justify-content: center;
}
.container .card {
  box-sizing: border-box;
  height: auto;
  transition: all 0.3s ease-in;
  flex: 1 0 30%;
  max-width: 30%;
}
@media screen and (max-width: 900px) {
  .container .card {
    max-width: 90%;
  }
}
.container .card .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.container .card .card-image img {
  height: 35vh;
}
.container .card .card-name {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 2.5rem;
  color: #022f46;
}
.container .card .card-price {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 2rem;
  color: #022f46;
}
.container .card .card-comprar {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 2rem;
  color: #f5f5f7;
  background-color: #219ebc;
  margin-top: 2rem;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 11px 11px 29px #bebebe, -11px -11px 29px #ffffff;
  transition: all 0.1s ease-in;
}
.container .card .card-comprar:active {
  background-color: rgba(33, 158, 188, 0.8);
}

.card-shadow {
  padding: 3rem;
  border-radius: 50px;
  background: #f5f5f7;
  box-shadow: 11px 11px 29px #bebebe, -11px -11px 29px #ffffff;
}

.cardError {
  width: 100%;
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 50px;
  background: #fb8500;
  box-shadow: 11px 11px 29px #bebebe, -11px -11px 29px #ffffff;
}
.cardError .errorIcon {
  font-size: 4rem;
  color: #f5f5f7;
}
.cardError .p-error {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #f5f5f7;
}

.swal2-title {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #022f46;
}

.swal2-styled {
  background-color: #219ebc !important;
  box-shadow: none !important;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem !important;
  color: #f5f5f7;
  transition: all 0.1s ease-in !important;
}

.swal2-warning {
  color: rgba(251, 133, 0, 0.8) !important;
  border-color: rgba(251, 133, 0, 0.8) !important;
}

.swal-size {
  width: 60vw;
}

.toastify {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 1rem 2rem;
  font-size: 1.8rem !important;
  color: #f5f5f7;
  display: flex;
  gap: 10px;
  align-items: center;
}

.loading-img {
  align-self: center;
  transition: all 0.1s ease-in;
}

.h1-checkout {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
  color: #022f46;
  text-align: center;
  margin-top: 3rem;
}
@media screen and (max-width: 700px) {
  .h1-checkout {
    font-size: 4rem;
  }
}

.section-checkout {
  display: flex;
  justify-content: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  margin: 3rem 3rem;
}

.table-div {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  border: 2px solid #022f46;
  border-radius: 25px;
  background-color: rgba(2, 47, 70, 0.1);
}
.table-div .checkout-product {
  width: fit-content;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.table-div .checkout-product .checkout-data {
  border-collapse: collapse;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-div .checkout-product .checkout-img img {
  height: 5rem;
}
.table-div .checkout-product .checkout-name {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #022f46;
}
.table-div .checkout-product .checkout-cantidad {
  display: flex;
}
.table-div .checkout-product .checkout-cantidad .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #022f46;
  background-color: #219ebc;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  height: 100%;
}
.table-div .checkout-product .checkout-cantidad .plus:active, .table-div .checkout-product .checkout-cantidad .plus:hover {
  background-color: rgba(33, 158, 188, 0.8);
}
.table-div .checkout-product .checkout-cantidad .number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 410;
  font-style: normal;
  font-size: 1.5rem;
  color: #022f46;
  height: 100%;
  align-self: center;
  background-color: rgba(2, 47, 70, 0.1);
}
.table-div .checkout-product .checkout-cantidad .less {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #022f46;
  background-color: #219ebc;
  height: 100%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.table-div .checkout-product .checkout-cantidad .less:active, .table-div .checkout-product .checkout-cantidad .less:hover {
  background-color: rgba(33, 158, 188, 0.8);
}
.table-div .checkout-product .checkout-price {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #022f46;
}
.table-div .checkout-product .checkout-delete .delete-icon {
  color: #022f46;
  font-size: 2.5rem;
}
.table-div .checkout-product .checkout-delete .delete-icon:active, .table-div .checkout-product .checkout-delete .delete-icon:hover {
  color: rgba(2, 47, 70, 0.8);
}

.total-div {
  background-color: #219ebc;
  border-radius: 25px;
  padding: 1rem 2rem;
  width: fit-content;
  align-self: flex-end;
  display: flex;
  gap: 5px;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #f5f5f7;
}
.total-div .div-precio-total {
  font-weight: 600;
}

.boton-comprar {
  background-color: #fb8500;
  border-radius: 40px;
  padding: 1.3rem 3rem;
  width: 100%;
  align-self: center;
  margin-top: 2.3rem;
  outline: none;
  border: none;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  color: #f5f5f7;
  transition: all 0.1s ease-in;
}
.boton-comprar:active {
  background-color: rgba(251, 133, 0, 0.6);
}
.boton-comprar:disabled {
  background-color: rgba(251, 133, 0, 0.35);
}

.goBack {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background-color: #219ebc;
  padding: 1rem 2rem;
  padding-left: 1.5rem;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #f5f5f7;
  transition: all 0.1s ease-in;
}
.goBack:active {
  background-color: rgba(33, 158, 188, 0.6);
}

.swal2-html-container {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #022f46;
}

* {
  padding: 0;
  margin: 0;
  font-display: swap;
}

html {
  /* para que un rem quede en 10 px */
  font-size: 62.5%;
  background-color: #f5f5f7;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.no-seleccionable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=style.css.map */
