@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

// bases

@import './bases/variables';

// components

@import './components/main';
@import './components/checkout';

// inicialización 

* {
    padding: 0;
    margin: 0;
    font-display: swap;
}

html {
    /* para que un rem quede en 10 px */
    font-size: 62.5%; 
    background-color: $color-blanco;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}