.h1-checkout {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 5rem;
    color: $color-azul;
    text-align: center;
    margin-top: 10rem;
    
    @media screen and (max-width: 700px) {
        font-size: 4rem;
    }
}

.section-checkout {
    display: flex;
    justify-content: center;
    
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    
    margin: 3rem 3rem;
}

.table-div {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border: 2px solid $color-azul;
    border-radius: 25px;
    background-color: rgba($color: $color-azul, $alpha: 0.1);

    .checkout-product {
        width: fit-content;
        padding: 1rem 3rem;
        

        display: flex;
        justify-content: center;
        gap: 1.5rem;
        
       
        
        .checkout-data {
            
            border-collapse: collapse;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .checkout-img {

            img {
                height: 5rem;

            }
        }

        .checkout-name {
            font-family: "Inter Tight", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-size: 2rem;
            color: $color-azul;
        }

        .checkout-cantidad {
            display: flex;
            
            

            .plus {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 1rem 1.5rem;
                font-family: "Inter Tight", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                font-size: 2rem;
                color: $color-azul;
                background-color: $color-celeste;
                border-bottom-left-radius: 15px;
                border-top-left-radius: 15px;
                height: 100%;

                &:active, &:hover {
                    background-color: rgba($color: $color-celeste, $alpha: 0.8);
                }

            }

            .number {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 1rem 2.5rem;
                font-family: "Inter Tight", sans-serif;
                font-optical-sizing: auto;
                font-weight: 410;
                font-style: normal;
                font-size: 1.5rem;
                color: $color-azul;
                height: 100%;
                align-self: center;

                background-color: rgba($color: $color-azul, $alpha: 0.1);
                
            }

            .less {
                display: flex;
                align-items: center;
                justify-content: center;
                
                padding: 1rem 1.5rem;
                font-family: "Inter Tight", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                font-size: 2rem;
                color: $color-azul;
                background-color: $color-celeste;
                height: 100%;

                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;

                &:active, &:hover {
                    background-color: rgba($color: $color-celeste, $alpha: 0.8);
                }
            }
        }

        .checkout-price {
            font-family: "Inter Tight", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            color: $color-azul;
        }

        .checkout-delete {

            .delete-icon {
                color: $color-azul;
                font-size: 2.5rem;

                &:active, &:hover {
                    color: rgba($color: $color-azul, $alpha: 0.8);
                }

            }
            
        }
    }
    
}

.total-div {
    background-color: $color-celeste;
    border-radius: 25px;
    padding: 1rem 2rem;
    width: fit-content;
    align-self: flex-end;
    display: flex;
    gap: 5px;

    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: $color-blanco;

    .div-precio-total {
        font-weight: 600;
    }
}

.boton-comprar {
    background-color: $color-naranja;
    border-radius: 40px;
    padding: 1.3rem 3rem;
    width: 100%;
    align-self: center;
    margin-top: 2.3rem;
    outline: none;
    border: none;


    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    color: $color-blanco;

    transition: all 0.1s ease-in;

    &:active {
        background-color: rgba($color: $color-naranja, $alpha: 0.6);
    }

    &:disabled {
        background-color: rgba($color: $color-naranja, $alpha: 0.35)
    }
}

.goBack {
    position: fixed;
    top: 2rem;
    left: 2rem;
    background-color: $color-celeste;
    padding: 1rem 2rem;
    padding-left: 1.5rem;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;

    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: $color-blanco;

    transition: all 0.1s ease-in;

    &:active {
        background-color: rgba($color: $color-celeste, $alpha: 0.6)
    }

}

.swal2-html-container {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: $color-azul;
}

.swal2-cancel {
    background-color: #bebebe !important;
}

.carritoVacio {
    width: 100%;
    padding: 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 50px;
    background: $color-celeste;
    box-shadow:  11px 11px 29px #bebebe,
                -11px -11px 29px #ffffff;
    

    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 2rem;
    color: $color-blanco;
}

